/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');*/
@import url('https://fonts.cdnfonts.com/css/ninja-naruto');

/* so the rules in the bracket will apply to any device with a max width of 480px*/
@media(max-width: 700px) {
    .container {
        width: 100vw;
    }

    .hidden {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ninja Naruto', sans-serif;
    line-height: 1.5;
    word-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #0b0b0b;
}

.container {
    display: flex;
    width: 90vw;
    justify-content: center;
    margin: 10px;
}

button {
    background-color: #EA9828;
    border: 5px solid #2c2c2c;
    border-radius: 50px;
    color: #2c2c2c;
    cursor: pointer;
    font-family: 'Ninja Naruto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin : 10px;
    padding: 10px;
    transition: background-color 0.3s ease-in;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2c2c2c;
    height: 80vh;
    border: 5px solid #EA9828;
    border-radius: 50px;
    color: #EA9828;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #0b0b0b;
    cursor: pointer;
    flex: 0.5;
    margin: .5px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel span {
    font-size: 12px;
    position: absolute;
    bottom: 35px;
    left: 20px;
    right: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex : 5;
    background-size: contain;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active span {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

header {
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #EA9828;
    color: #2c2c2c;
    font-size: 24px;
}

#AlliedShinobiForces {
    background-image: url(img/alliedShinobiForces.png);
}

#Leaf{
    background-image: url(img/leaf.png);
}

#Sound{
    background-image: url(img/sound.png);
}

#Grass{
    background-image: url(img/grass.png);
}

#Stone{
    background-image: url(img/stone.png);
}

#Cloud{
    background-image: url(img/cloud.png);
}

#Sand{
    background-image: url(img/sand.png);
}

#Mist{
    background-image: url(img/mist.png);
}

#Rain{
    background-image: url(img/rain.png);
}

#Waterfall{
    background-image: url(img/waterfall.png);
}