@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --primary-color: #494874;
    --secondary-color: #b3b3b3;
    --tertiary-color: #22ece2;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    font-family: 'Sriracha';
    display: flex;
    flex-direction: column;
    transition-timing-function: ease;
    align-items: center;
}

.darkMode {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.lightMode {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 75px;
    margin: 0 0 0 10px;
    border-radius: 5px;
}

#colorModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 75px;
    margin: 0 10px 0 0;
}

#colorModeBack {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 25px;
    border: none;
}

#colorModeButton {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 20px;
    border: none;
    right: 13px;
    transition-duration: 1s;
    z-index: 2;
}

.reverse.lightMode {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.reverse.darkMode {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

summary {
    font-size: 2rem;
}

#bio {
    padding: 0px 5rem;
    text-align: center;
}

#projectArea {
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    flex-wrap: wrap;
}

#projectArea.lightMode, .projectImg.lightMode, .project.lightMode, .sourceLink.lightMode {
    border: 2px solid var(--primary-color);
}

#projectArea.darkMode, .projectImg.darkMode, .project.darkMode, .sourceLink.darkMode {
    border: 2px solid var(--secondary-color);
}

.project {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    border-radius: 10px;
    margin: 1rem;
}

.projectImg {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}

.projectImg:hover {
    width: 245px;
    height: 245px;
    border-color: var(--tertiary-color);
    box-shadow: 0 0 5px var(--tertiary-color);
    padding: 2.5px;
}

.projectHighlights {
    text-align: center;
}

main div p {
    padding: 5px;
    text-align: justify;
}

.sourceLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: .5rem;
    border-radius: 10px;
    height: 1rem;
    width: 7rem;
}

.sourceLink:hover {
    border-color: var(--tertiary-color);
    box-shadow: 0 0 5px var(--tertiary-color);
}

.sourceLink:hover.darkMode {
    background-color: var(--secondary-color);
    color: var(--primary-color)
}

.sourceLink:hover.lightMode {
    background-color: var(--primary-color);
    color: var(--secondary-color)
}

.mobileDisclaimer {
    color: var(--tertiary-color);
    text-decoration: underline;
}

@media (max-width: 900px) {
    #projectArea {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project {
        width: 300px;
    }
}